# macOS
.DS_Store
.AppleDouble
.LSOverride

# Arduino / embedded build artifacts
*.elf
*.bin
*.hex
*.map

# Arduino IDE / temp build dirs (varies)
build/
Build/

# VS Code
.vscode/

# PlatformIO (if you ever use it)
.pio/

# Logs
*.log

